#grid {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    border-style: solid;
    border-width: thin;
    margin: auto;
}

.items {
    border-style: solid;
    border-width: thin;
    content: '';
}

.buttons {
   display: flex;
   justify-content: center;
   padding-top: 25px;
   padding-bottom: 25px;
}

button {
    margin-right: 20px;
}

.slideContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}